{% extends 'base.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}

    <style>

    </style>

    <div>
        <h1>Edit Quack</h1>

        <div>
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}