{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{#<style>#}
{#    .flex {#}
{#        display: flex;#}
{#        flex-direction: column;#}
{#        align-items: center;#}

{#    }#}
{#</style>#}

<div class="flex flex-col items-center h-screen">
    <h1 class="">Pour toi ✅</h1>

    <div>
        <a href="quack"><button class="btn mt-8">Quacker</button></a>
    </div>

    <div class="flex flex-col justify-around bg-inherit w-2/4 h-screen" >
        {% for quack in all_quacks %}
            <div class="h-20 border-2 border-inherit rounded-lg">
                <p>{{ quack.content }}</p>

                <p>Publié le : {{ quack.getCreatedAt | date('d/m/y h:m')}}</p>

                <div class="flex justify-end">
                    <a href="quack/edit/{{ quack.id }}"><button class="btn mr-4">Edit</button></a>
                    <a href="quack/delete/{{ quack.id }}"><button class="btn mr-2 mb-10">Delete</button></a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
