{% extends 'base.html.twig' %}

{% block title %}Hello QuackController!{% endblock %}

{% block body %}
{#<style>#}
{#    .flex {#}
{#        display: flex;#}
{#        flex-direction: column;#}
{#        align-items: center;#}

{#    }#}
{#</style>#}

<div class="flex flex-col justify-evenly items-center">
    <h1 class="">Pour toi ✅</h1>

    <div class="">
        {% for quack in all_quacks %}
            <div class="border-2 border-inherit justify-evenly">
                <p>{{ quack.content }}</p>

                <p>Publié le : {{ quack.getCreatedAt | date('d/m/y h:m')}}</p>
            </div>
        {% endfor %}
    </div>


</div>
{% endblock %}
